@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "./gradient1.scss";
@import "./typography.scss";

* {
  font-family: "PT Sans", sans-serif;
}

@media only screen and (min-width: 768px) {
  .bn-block-footer {
    width: 1150px !important;
    margin: 0 auto;
    position: relative;
  }

  .bn-block {
    width: 1150px !important;
    margin: 0 auto;
    position: relative;
    // display: block;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .bn-screen {
    height: 92vh;
    width: 100vh;
  }
}

@media only screen and (max-width: 768px) {
  .bn-block-footer {
    margin: 0 auto;
  }

  .bn-block {
    padding: 40px;
    margin: 0 auto;
  }
}

.bg-main-block {
  // background: url("./../assets/home/bg.png") center no-repeat;
  background: linear-gradient(180deg, #f6f6f6 0%, rgba(246, 246, 246, 0) 100%);
}

.bg-alt-block {
  background: url("./../assets/home/bg-alt.jpg");
  background-size: contain;
}

.bg-auditor-block {
  background: url("./../assets/detail/auditor.png");
  background-size: contain;
}

.bn-card-width {
  width: 450px;
}

.bn-card {
  position: static;
  left: 280px;
  top: 0px;

  background: #ffffff;
  /* Shadow 1 */

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.bn-card-tier {
  max-width: 240.75px;
  height: 526px;
  padding: 48px 32px;
}

.bn-card-gutter {
  margin-left: 48px;
  margin-right: 48px;
}

.bn-card ul {
  padding: 0px;
  margin: 0px;
}

.bn-card ul li {
  list-style-image: url("~assets/others/tick-1x.png");
  margin-bottom: 32px;
}

/*** **/

.bn-bg-gradient-1 {
  background: linear-gradient(270deg, #f49a44, #fbcc46);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

.bn-bg-color-twitter {
  background-color: #1da1f2;
}

.bn-bg-color-telegram {
  background-color: #0088cc;
}

.bn-text-color-twitter {
  color: #1da1f2;
}

.bn-text-color-telegram {
  color: #0088cc;
}

.bn-bg-color-medium {
  background-color: #000000;
}

// override
ul.bn-links {
  padding: 0px;
  margin: 0px;
}

ul.bn-links li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: block;
  padding-top: 0.3em;
}

a {
  text-decoration: none;
  color: $grey-6;
}

.bn-button {
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

.bn-info-outline {
  border: 1px solid #f3893f;
  box-sizing: border-box;
  border-radius: 9px;
  padding: 10px;
  color: $primary;
}

.bn-footer {
  background: linear-gradient(90deg, #f16e3c 27.47%, #f38c3f 71.49%);
}
